# Romain Galland
Romain Galland <romain.galland@infomaniak.com> Romain GALLAND <romain.galland@edu.univ-fcomte.fr>

# Félix Riat (friat / Br3t4gn3)
Félix Riat <felix.riat@edu.univ-fcomte.fr> friat <felix.riat@edu.univ-fcomte.fr>
Félix Riat <felix.riat@edu.univ-fcomte.fr> Br3t4gn3 <xileff42@gmail.com>

# Léo Maugeri (Léo Maugeri / lmaugeri)
Léo Maugeri <leo.maugeri@organeo.com> Léo Maugeri <leomaugeri@hotmail.fr>
Léo Maugeri <leo.maugeri@organeo.com> lmaugeri <leo.maugeri@edu.univ-fcomte.fr>

# Lucas Lauret (lauret lucas / llauret)
Lucas Lauret <lucas.lauret@edu.univ-fcomte.fr> lauret lucas <lucas.lauret@edu.univ-fcomte.fr>
Lucas Lauret <lucas.lauret@edu.univ-fcomte.fr> llauret <lucas.lauret@edu.univ-fcomte.fr>

# Ahmed Djemaoui (adjemaou)
Ahmed Djemaoui <ahmed.djemaoui@edu.univ-fcomte.fr> adjemaou <djemaoui2003@gmail.com>
Ahmed Djemaoui <ahmed.djemaoui@edu.univ-fcomte.fr> adjemaou <ahmed.djemaoui@edu.univ-fcomte.fr>
